<div class="row">
  <div class="col-sm-6 offset-3 mt-3 mb-3">
    <div class="card text-center">
      <div class="card-header">
        Boxes Generator
      </div>
      <div class="card-body">
        <p class="card-text">Click below to generate a box</p>
        <button class="btn btn btn-outline-success">Generate Box</button>
      </div>
      <div class="card-footer text-muted">
        Total : {{numberBoxes$ | async}} boxes
      </div>
    </div>
  </div>
</div>

<div class="row offset-3">

  <div class="col-sm-2" *ngFor="let item of [].constructor(numberBoxes$ | async);">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Box</h5>
        <p class="card-text">Generated box.</p>
        <button class="btn btn-dark">Remove</button>
      </div>
    </div>
  </div>

</div>
